// Custom styles.
body{
    background: #828282;
}

.post {
    margin:50px 20px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
}

.custom-logo-site-title .site-title {
    // color: #FF9900;
    animation: neon3 1.5s linear infinite;
}
#music163player .fluid-vids {
    height 20px;
}
.sidebar{
    background: #828282;
}
// .links-of-author-item{
//    text-align center
// }
@keyframes neon3 {
  0% {

   text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #FFDD1B,
               0 0 40px  #FFDD1B,
               0 0 70px  #FFDD1B,
               0 0 80px  #FFDD1B,
               0 0 100px #FFDD1B,
               0 0 150px #FFDD1B;

  }

  50% {

    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #FFDD1B,
               0 0 20px #FFDD1B,
               0 0 35px #FFDD1B,
               0 0 40px #FFDD1B,
               0 0 50px #FFDD1B,
               0 0 75px #FFDD1B;

  }
  100% {

   text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #FFDD1B,
               0 0 40px  #FFDD1B,
               0 0 70px  #FFDD1B,
               0 0 80px  #FFDD1B,
               0 0 100px #FFDD1B,
               0 0 150px #FFDD1B;

  }
}
